* {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 140%;
  text-align: center;
  letter-spacing: 0.05em;
  color: #FFFFFF;
}

h2 {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 140%;
  text-align: center;
  letter-spacing: 0.05em;
  color: #FFFFFF;
}

body {
  background-image: url(/images/AI/Background/Landing_img.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.landing-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.5em;
}

.partners > ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 48px;
  list-style: none;
  padding-top: 5em;
}

.registration > a {
  box-sizing: border-box;
}