* {
  padding: 0;
  margin: 0;
}

body {
  background: linear-gradient(45deg, #8133FF 0%, #4005A2 100%);
  width: 1920px;
  height: 1080px;
}

p {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 200;
  font-size: 14px;
  line-height: 140%;
  text-align: center;
  letter-spacing: 0.13em;
  color: #FFFFFF;
}

span {
  color: #8133FF;
}

.button {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 12px;
  padding: 12px 24px;
  background: linear-gradient(45deg, #F29A2E 0%, #8033FF 100%);
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.13em;
  color: #FFFFFF;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
}

.reg {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 48px 136px;
  gap: 72px;
  background: #171717;
  box-shadow: 0px 5px 13px rgba(0, 0, 0, 0.25);
  position: absolute;
  width: 685px;
  left: calc(50% - 685px/2);
  top: calc(50% - 640px/2);
  border: 3px solid #F27127;
}

.reg-box {
  display: flex;
  flex-direction: column;
  gap: 36px;
}

.input-field {
  box-sizing: border-box;
  width: 360px;
  height: 34px;
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  letter-spacing: 0.13em;
  color: #FFFFFF;
  background: none;
  border: none;
  border-bottom-style: solid;
  border-bottom-color: #8133FF;
  border-bottom-width: 1px;
}


